.status-wrapper {
  width: 100%;
  height: auto;
  padding: 2rem;
}

.ant-btn-circle {
  position: fixed !important;
  right: 5%;
  bottom: 9%;
  width: 60px !important;
  height: 60px !important;
  -webkit-box-shadow: 6px 5px 34px 2px rgba(204, 202, 237, 1) !important;
  -moz-box-shadow: 6px 5px 34px 2px rgba(204, 202, 237, 1) !important;
  box-shadow: 6px 5px 34px 2px rgba(204, 202, 237, 1) !important;
}
